form {
    background-color: #181818;
    height: 360px;
    width: 240px;
    padding: 80px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 42px 6px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 42px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 42px 6px rgba(255, 255, 255, 1);
}

.formTitle {
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

.txt {
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #181818;
    color: white;
    width: 100%;
} 

.btn {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-image: linear-gradient(90deg, yellow, red, yellow);
    background-size: 200%;
    color: black;
    border: none;
    cursor: pointer;
    
}
.btn:hover {
    background-position: right;
}
.note {
    margin-top: 2px;
    font-size: smaller;
    color:white;
}
.link {
    color: #11F;
    font-weight: bold;
}
.link:hover {
    color: rgb(74, 74, 255);
}

input {
    border: none;
    width: 100%;
    background-color: #181818;
    color: white;
}
option {
    background-color: #181818;
    color: white;
}
button {
    padding: 2px;
}